In [1]:
import pandas as pd
import numpy as np

In [2]:
movies=pd.read_csv("tmdb_5000_movies.csv")
credits=pd.read_csv("tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
credits.shape

(4803, 4)

In [6]:
movies=movies.merge(credits,on='title')

In [7]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
movies.shape

(4809, 23)

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [10]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [11]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [12]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [13]:
movies.dropna(inplace=True)

In [14]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [15]:
movies.duplicated().sum()

0

In [16]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [17]:
strr=''

In [18]:
strr=movies.iloc[0].genres

In [19]:
strr

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [20]:
import ast
def genresConvert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i["name"])
    return (l)

In [21]:
movies['genres'] = movies['genres'].apply(genresConvert)

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
movies.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [24]:
movies['keywords'].apply(genresConvert)

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united statesâ€“mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [25]:
movies['keywords']=movies['keywords'].apply(genresConvert)

In [26]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [27]:
strr=movies.iloc[0].cast

In [28]:
def castCrew(obj):
    lst=ast.literal_eval(strr)
    l=[]
    ctr=0
    for i in lst:
        if ctr<2:
            l.append(i['name'])
            ctr+=1
        
    return l

In [29]:
castCrew(strr)

['Sam Worthington', 'Zoe Saldana']

In [30]:
movies['cast']=movies['cast'].apply(castCrew)

In [31]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Sam Worthington, Zoe Saldana]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [32]:
strr=movies.iloc[0].crew

In [33]:
movies['crew']=movies['crew'].apply(castCrew)

In [34]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana]","[Stephen E. Rivkin, Rick Carter]"
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Sam Worthington, Zoe Saldana]","[Stephen E. Rivkin, Rick Carter]"

In [35]:
def collapse(obj):
    l=[]
    for i in obj:
        l.append(i.replace(' ',''))
    return l

In [36]:
movies['cast']=movies['cast'].apply(collapse)
movies['crew']=movies['crew'].apply(collapse)
movies['keywords']=movies['keywords'].apply(collapse)
movies['genres']=movies['genres'].apply(collapse)

In [37]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana]","[StephenE.Rivkin, RickCarter]"
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[SamWorthington, ZoeSaldana]","[StephenE.Rivkin, RickCarter]"

In [38]:
movies['overview']=movies['overview'].apply(lambda x:x.split())
movies['tags']=movies['overview']+movies['keywords']+movies['crew']+movies['cast']

In [39]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana]","[StephenE.Rivkin, RickCarter]","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[SamWorthington, ZoeSaldana]","[StephenE.Rivkin, RickCarter]","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[SamWorthington, ZoeSaldana]","[StephenE.Rivkin, RickCarter]","[A, cryptic, message, from, Bondâ€™s, past, send..."

In [40]:
movies.iloc[0].tags

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'StephenE.Rivkin',
 'RickCarter',
 'SamWorthington',
 'ZoeSaldana']

In [41]:
new=movies.drop(columns=['overview','genres','cast','crew','keywords'])

In [42]:
new.head(2)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [43]:
new['tags']=new['tags'].apply(lambda x:" ".join(x))

In [44]:
new.head(1)

   movie_id   title                                               tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [45]:
 new['tags']= new['tags'].apply(lambda x:x.lower())

In [46]:
new.head(2)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."

In [47]:
pip install nltk

Requirement already satisfied: nltk in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (3.7)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from nltk) (2022.9.13)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from nltk) (8.1.3)
Note: you may need to restart the kernel to use updated packages.

In [48]:
from nltk.stem.porter import PorterStemmer

In [49]:
ps=PorterStemmer()

In [50]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [51]:
stem(new.iloc[0].tags)

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d stephene.rivkin rickcart samworthington zoesaldana'

In [52]:
new['tags']=new['tags'].apply(stem)

In [53]:
new.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a parapleg marin is dispa...

In [54]:
pip install sklearn

Requirement already satisfied: sklearn in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (0.0)
Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from sklearn) (1.1.2)
Requirement already satisfied: scipy>=1.3.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.9.2)
Requirement already satisfied: joblib>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.23.3)
Note: you may need to restart the kernel to use updated packages.

In [55]:
from sklearn.feature_extraction.text import CountVectorizer

In [56]:
cv=CountVectorizer(max_features=5000, stop_words="english")

In [57]:
vector=cv.fit_transform(new['tags']).toarray()

In [112]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [113]:
from sklearn.metrics.pairwise import cosine_similarity

In [114]:
similarity=cosine_similarity(vector)

In [115]:
similarity

array([[1.        , 0.14530955, 0.17437146, ..., 0.13549163, 0.11185934,
        0.12119654],
       [0.14530955, 1.        , 0.15625   , ..., 0.14569288, 0.12028131,
        0.15638581],
       [0.17437146, 0.15625   , 1.        , ..., 0.14569288, 0.12028131,
        0.13032151],
       ...,
       [0.13549163, 0.14569288, 0.14569288, ..., 1.        , 0.13084684,
        0.14176897],
       [0.11185934, 0.12028131, 0.12028131, ..., 0.13084684, 1.        ,
        0.18057878],
       [0.12119654, 0.15638581, 0.13032151, ..., 0.14176897, 0.18057878,
        1.        ]])

In [116]:
len(similarity[0])

4806

In [142]:
def recommend(movie):
    index=new[new['title']==movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x:x[1])
    
    for i in distances[1:6]:
        print (new.iloc[i[0]].title)

In [143]:
new[new['title']=="Avatar"].index[0]

0

In [144]:
sorted(list(enumerate(similarity[0])),reverse=True, key=lambda x: x[1])

[(0, 0.9999999999999998),
 (4405, 0.36760731104690386),
 (3730, 0.35049981861639085),
 (539, 0.33580938097996493),
 (4641, 0.3355780276070122),
 (3327, 0.3287979746107146),
 (2409, 0.31859300290731674),
 (151, 0.31544983675475174),
 (373, 0.31544983675475174),
 (1321, 0.31544983675475174),
 (1216, 0.3144376296209725),
 (3527, 0.3106848830006),
 (4461, 0.3106848830006),
 (3083, 0.30999370331685144),
 (778, 0.3084763486195622),
 (582, 0.30756234261462273),
 (2789, 0.30756234261462273),
 (507, 0.3022130242434418),
 (2786, 0.3001501125938321),
 (1201, 0.29591817714964314),
 (1920, 0.29408584883752314),
 (172, 0.2940858488375231),
 (1348, 0.2940858488375231),
 (1204, 0.2908716993382318),
 (3634, 0.2847473987257497),
 (4097, 0.2847473987257497),
 (4192, 0.2847473987257497),
 (4793, 0.2847473987257497),
 (3608, 0.28330563048072344),
 (61, 0.28039985489311264),
 (1774, 0.27961639470054),
 (2515, 0.27961639470054),
 (2731, 0.27961639470054),
 (3462, 0.27910827799011495),
 (4587, 0.27910827799011495),
 (74, 0.2762455533096785),
 (220, 0.27475312989269857),
 (1275, 0.27475312989269857),
 (3550, 0.27399831217559545),
 (3998, 0.27399831217559545),
 (4293, 0.27399831217559545),
 (2232, 0.2735764515525319),
 (3393, 0.2735764515525319),
 (3919, 0.2735764515525319),
 (4246, 0.2735764515525319),
 (3675, 0.2726248784031353),
 (189, 0.271244490402245),
 (579, 0.2701351013344489),
 (1329, 0.2701351013344489),
 (843, 0.2666903735313325),
 (1444, 0.26401000024165),
 (2674, 0.26401000024165),
 (3507, 0.26362486509824806),
 (3720, 0.26362486509824806),
 (1071, 0.26324906324632824),
 (878, 0.26303837968857163),
 (1166, 0.26303837968857163),
 (529, 0.26101844883193726),
 (4053, 0.25993762245501817),
 (4253, 0.25993762245501817),
 (3538, 0.25834126576556143),
 (495, 0.2579303520876644),
 (3982, 0.2579303520876644),
 (1194, 0.25732511773283273),
 (1715, 0.25732511773283273),
 (2999, 0.25732511773283273),
 (2333, 0.2557448052364024),
 (1698, 0.2546858159868053),
 (2432, 0.2546858159868053),
 (2880, 0.2546858159868053),
 (3497, 0.2546858159868053),
 (4757, 0.2546858159868053),
 (184, 0.2536731447159205),
 (1488, 0.25112360116696136),
 (2551, 0.25112360116696136),
 (2772, 0.25112360116696136),
 (3117, 0.25112360116696136),
 (3716, 0.25112360116696136),
 (3839, 0.25112360116696136),
 (2204, 0.25070610528195014),
 (577, 0.2500965064695278),
 (4336, 0.24784079854830487),
 (2466, 0.24784079854830485),
 (3082, 0.24784079854830485),
 (3804, 0.24784079854830485),
 (4353, 0.24784079854830485),
 (4550, 0.24784079854830485),
 (4596, 0.24784079854830485),
 (4777, 0.24784079854830485),
 (4802, 0.24784079854830485),
 (251, 0.24659848095803594),
 (1629, 0.24659848095803594),
 (2331, 0.24659848095803594),
 (2376, 0.24659848095803594),
 (2529, 0.24659848095803594),
 (3180, 0.24659848095803594),
 (3733, 0.24659848095803594),
 (3914, 0.24659848095803594),
 (4606, 0.24659848095803594),
 (322, 0.24659848095803588),
 (1254, 0.24534987303147354),
 (1745, 0.24534987303147354),
 (2456, 0.24534987303147354),
 (4011, 0.24534987303147354),
 (1089, 0.2451521430815321),
 (275, 0.24422500434906544),
 (972, 0.24422500434906544),
 (973, 0.24422500434906544),
 (305, 0.24384310418680996),
 (2652, 0.2401200900750657),
 (236, 0.24012009007506568),
 (260, 0.24012009007506568),
 (249, 0.23995690956687135),
 (866, 0.23923566684866998),
 (1530, 0.23923566684866998),
 (2417, 0.23923566684866998),
 (3938, 0.23923566684866998),
 (3978, 0.23923566684866998),
 (4619, 0.23923566684866998),
 (4679, 0.23923566684866998),
 (534, 0.2372894989381248),
 (1972, 0.2372894989381248),
 (2850, 0.2372894989381248),
 (3002, 0.2372894989381248),
 (3296, 0.2372894989381248),
 (3552, 0.2372894989381248),
 (3787, 0.2372894989381248),
 (3923, 0.2372894989381248),
 (3969, 0.2372894989381248),
 (4081, 0.2372894989381248),
 (4173, 0.2372894989381248),
 (4309, 0.2372894989381248),
 (4315, 0.2372894989381248),
 (4391, 0.2372894989381248),
 (4409, 0.2372894989381248),
 (4494, 0.2372894989381248),
 (568, 0.23621543814299706),
 (3736, 0.23621543814299706),
 (3999, 0.23621543814299706),
 (2971, 0.2357932475675578),
 (476, 0.23490461932490855),
 (487, 0.23490461932490855),
 (1045, 0.23490461932490855),
 (3954, 0.23490461932490855),
 (3976, 0.23490461932490855),
 (4, 0.23485569615051044),
 (595, 0.23485569615051044),
 (584, 0.23249527748763857),
 (808, 0.23249527748763857),
 (897, 0.23249527748763857),
 (1655, 0.23249527748763857),
 (2388, 0.23249527748763857),
 (2621, 0.23249527748763857),
 (2853, 0.23249527748763857),
 (3070, 0.23249527748763857),
 (3072, 0.23249527748763857),
 (3519, 0.23249527748763857),
 (3728, 0.23249527748763857),
 (3941, 0.23249527748763857),
 (4236, 0.23249527748763857),
 (1097, 0.23249527748763854),
 (1560, 0.23107327468339356),
 (4048, 0.23089735286521348),
 (1373, 0.23015858222750019),
 (1486, 0.23015858222750019),
 (2584, 0.23015858222750019),
 (2622, 0.23015858222750019),
 (2787, 0.23015858222750019),
 (3537, 0.23015858222750019),
 (3663, 0.23015858222750019),
 (1479, 0.22966561493131393),
 (91, 0.228945522812857),
 (513, 0.22830583024432846),
 (1383, 0.22830583024432846),
 (1075, 0.2279803762937766),
 (1276, 0.2279803762937766),
 (1830, 0.2279803762937766),
 (1879, 0.2279803762937766),
 (2237, 0.2279803762937766),
 (2255, 0.2279803762937766),
 (2511, 0.2279803762937766),
 (2544, 0.2279803762937766),
 (2654, 0.2279803762937766),
 (2675, 0.2279803762937766),
 (3025, 0.2279803762937766),
 (3080, 0.2279803762937766),
 (3275, 0.2279803762937766),
 (3359, 0.2279803762937766),
 (3363, 0.2279803762937766),
 (3595, 0.2279803762937766),
 (3614, 0.2279803762937766),
 (4010, 0.2279803762937766),
 (4126, 0.2279803762937766),
 (4281, 0.2279803762937766),
 (4528, 0.2279803762937766),
 (4533, 0.2279803762937766),
 (4551, 0.2279803762937766),
 (4615, 0.2279803762937766),
 (4636, 0.2279803762937766),
 (653, 0.22629428592141426),
 (1922, 0.22629428592141426),
 (2205, 0.22629428592141426),
 (2479, 0.22629428592141426),
 (2671, 0.22629428592141426),
 (2877, 0.22629428592141426),
 (3218, 0.22629428592141426),
 (3430, 0.22629428592141426),
 (3753, 0.22629428592141426),
 (4000, 0.22629428592141426),
 (4492, 0.22629428592141426),
 (4555, 0.22629428592141426),
 (4654, 0.22629428592141426),
 (134, 0.22568905807670633),
 (368, 0.22568905807670633),
 (564, 0.22568905807670633),
 (668, 0.22568905807670633),
 (438, 0.2256354947537551),
 (3628, 0.2256354947537551),
 (502, 0.2237186850713414),
 (692, 0.2237186850713414),
 (36, 0.22305671869347438),
 (311, 0.22305671869347438),
 (1355, 0.22305671869347438),
 (1178, 0.22230800575069137),
 (1982, 0.22230800575069137),
 (4079, 0.22230800575069137),
 (4538, 0.22167554926073635),
 (31, 0.22147019900891643),
 (581, 0.22147019900891643),
 (1274, 0.22147019900891643),
 (1304, 0.22147019900891643),
 (1573, 0.22147019900891643),
 (2970, 0.22147019900891643),
 (27, 0.2209298622501825),
 (41, 0.22056438662814234),
 (300, 0.22056438662814234),
 (2284, 0.22056438662814234),
 (669, 0.22056438662814232),
 (699, 0.22056438662814232),
 (797, 0.22056438662814232),
 (935, 0.22056438662814232),
 (995, 0.22056438662814232),
 (1327, 0.22056438662814232),
 (1782, 0.22056438662814232),
 (2297, 0.22056438662814232),
 (2712, 0.22056438662814232),
 (3098, 0.22056438662814232),
 (3126, 0.22056438662814232),
 (4139, 0.22056438662814232),
 (4243, 0.22056438662814232),
 (4332, 0.22056438662814232),
 (4412, 0.22056438662814232),
 (4651, 0.22056438662814232),
 (314, 0.2196873875818734),
 (649, 0.2196873875818734),
 (1664, 0.2196873875818734),
 (1955, 0.2196873875818734),
 (1989, 0.2196873875818734),
 (2007, 0.2196873875818734),
 (2856, 0.2196873875818734),
 (2914, 0.2196873875818734),
 (3156, 0.2196873875818734),
 (3328, 0.2196873875818734),
 (3529, 0.2196873875818734),
 (3888, 0.2196873875818734),
 (4014, 0.2196873875818734),
 (4278, 0.2196873875818734),
 (4462, 0.2196873875818734),
 (4502, 0.2196873875818734),
 (4617, 0.2196873875818734),
 (4715, 0.2196873875818734),
 (4753, 0.2196873875818734),
 (461, 0.21919864974047637),
 (536, 0.21815377450367385),
 (549, 0.21815377450367385),
 (47, 0.21770443566511177),
 (244, 0.21747941810042),
 (294, 0.21747941810042),
 (2060, 0.21747941810042),
 (3195, 0.21747941810042),
 (3376, 0.21747941810042),
 (3449, 0.21747941810042),
 (4351, 0.21747941810042),
 (4472, 0.21747941810042),
 (67, 0.21621621621621623),
 (3409, 0.21621621621621623),
 (557, 0.21582051197002577),
 (179, 0.2152488010002526),
 (200, 0.2152488010002526),
 (506, 0.2152488010002526),
 (1849, 0.2152488010002526),
 (2136, 0.2152488010002526),
 (2573, 0.2152488010002526),
 (2640, 0.2152488010002526),
 (2725, 0.2152488010002526),
 (2762, 0.2152488010002526),
 (3069, 0.2152488010002526),
 (3217, 0.2152488010002526),
 (3483, 0.2152488010002526),
 (3505, 0.2152488010002526),
 (4044, 0.2152488010002526),
 (4279, 0.2152488010002526),
 (4474, 0.2152488010002526),
 (4655, 0.2152488010002526),
 (1427, 0.21369687880543226),
 (2718, 0.21369687880543226),
 (2955, 0.21369687880543226),
 (1056, 0.21356054904431226),
 (1015, 0.213352298825066),
 (1771, 0.213352298825066),
 (2219, 0.213352298825066),
 (891, 0.2122381799890044),
 (1014, 0.2122381799890044),
 (1021, 0.2122381799890044),
 (1033, 0.2122381799890044),
 (1042, 0.2122381799890044),
 (1193, 0.2122381799890044),
 (1270, 0.2122381799890044),
 (1272, 0.2122381799890044),
 (1882, 0.2122381799890044),
 (2061, 0.2122381799890044),
 (2084, 0.2122381799890044),
 (2085, 0.2122381799890044),
 (2198, 0.2122381799890044),
 (2279, 0.2122381799890044),
 (2339, 0.2122381799890044),
 (2353, 0.2122381799890044),
 (2861, 0.2122381799890044),
 (2974, 0.2122381799890044),
 (2977, 0.2122381799890044),
 (3006, 0.2122381799890044),
 (3040, 0.2122381799890044),
 (3130, 0.2122381799890044),
 (3185, 0.2122381799890044),
 (3198, 0.2122381799890044),
 (3229, 0.2122381799890044),
 (3268, 0.2122381799890044),
 (3269, 0.2122381799890044),
 (3290, 0.2122381799890044),
 (3325, 0.2122381799890044),
 (3469, 0.2122381799890044),
 (3496, 0.2122381799890044),
 (3546, 0.2122381799890044),
 (3656, 0.2122381799890044),
 (3726, 0.2122381799890044),
 (3885, 0.2122381799890044),
 (4036, 0.2122381799890044),
 (4118, 0.2122381799890044),
 (4153, 0.2122381799890044),
 (4189, 0.2122381799890044),
 (4212, 0.2122381799890044),
 (4348, 0.2122381799890044),
 (4362, 0.2122381799890044),
 (4395, 0.2122381799890044),
 (4537, 0.2122381799890044),
 (4621, 0.2122381799890044),
 (454, 0.2113701265354594),
 (168, 0.21059925059706258),
 (942, 0.21059925059706258),
 (3622, 0.21059925059706258),
 (157, 0.21029989116983447),
 (319, 0.21029989116983447),
 (418, 0.21029989116983447),
 (466, 0.21029989116983447),
 (490, 0.21029989116983447),
 (693, 0.21029989116983447),
 (1240, 0.21029989116983447),
 (1483, 0.21029989116983447),
 (1489, 0.21029989116983447),
 (1582, 0.21029989116983447),
 (1706, 0.21029989116983447),
 (2161, 0.21029989116983447),
 (2634, 0.21029989116983447),
 (3129, 0.21029989116983447),
 (3775, 0.21029989116983447),
 (3781, 0.21029989116983447),
 (4477, 0.21029989116983447),
 (838, 0.21022093494735197),
 (678, 0.2101050788156825),
 (931, 0.2101050788156825),
 (2093, 0.2101050788156825),
 (2741, 0.2101050788156825),
 (4652, 0.2101050788156825),
 (754, 0.20795009796401454),
 (3164, 0.20795009796401454),
 (1357, 0.2071841649822589),
 (2547, 0.2071841649822589),
 (2216, 0.20668850837512243),
 (3448, 0.20668850837512243),
 (56, 0.2056773510573183),
 (256, 0.2056773510573183),
 (401, 0.2056773510573183),
 (570, 0.2056773510573183),
 (1381, 0.2056773510573183),
 (1413, 0.2056773510573183),
 (1911, 0.2056773510573183),
 (2199, 0.2056773510573183),
 (2218, 0.2056773510573183),
 (2812, 0.2056773510573183),
 (2913, 0.2056773510573183),
 (3223, 0.2056773510573183),
 (3398, 0.2056773510573183),
 (3621, 0.2056773510573183),
 (3678, 0.2056773510573183),
 (4146, 0.2056773510573183),
 (4216, 0.2056773510573183),
 (381, 0.20549873413169661),
 (776, 0.20549873413169661),
 (800, 0.20549873413169661),
 (850, 0.20549873413169661),
 (1028, 0.20549873413169661),
 (1041, 0.20549873413169661),
 (1377, 0.20549873413169661),
 (1382, 0.20549873413169661),
 (1424, 0.20549873413169661),
 (1437, 0.20549873413169661),
 (1791, 0.20549873413169661),
 (1822, 0.20549873413169661),
 (1901, 0.20549873413169661),
 (1984, 0.20549873413169661),
 (2104, 0.20549873413169661),
 (2242, 0.20549873413169661),
 (2442, 0.20549873413169661),
 (2480, 0.20549873413169661),
 (2618, 0.20549873413169661),
 (2749, 0.20549873413169661),
 (3125, 0.20549873413169661),
 (3146, 0.20549873413169661),
 (3506, 0.20549873413169661),
 (3566, 0.20549873413169661),
 (3690, 0.20549873413169661),
 (4007, 0.20549873413169661),
 (4052, 0.20549873413169661),
 (4062, 0.20549873413169661),
 (4071, 0.20549873413169661),
 (4075, 0.20549873413169661),
 (4130, 0.20549873413169661),
 (4300, 0.20549873413169661),
 (4342, 0.20549873413169661),
 (4419, 0.20549873413169661),
 (4516, 0.20549873413169661),
 (4635, 0.20549873413169661),
 (4697, 0.20549873413169661),
 (4737, 0.20549873413169661),
 (26, 0.20539846638523868),
 (445, 0.20539846638523868),
 (4230, 0.20539846638523868),
 (1537, 0.20518233866439894),
 (3162, 0.20391184757154646),
 (141, 0.20343336780168372),
 (1207, 0.20343336780168372),
 (1301, 0.20343336780168372),
 (1929, 0.20343336780168372),
 (2660, 0.20343336780168372),
 (3135, 0.20343336780168372),
 (3301, 0.20343336780168372),
 (4408, 0.20343336780168372),
 (2247, 0.2029385157727364),
 (105, 0.20134681656420733),
 (505, 0.20134681656420733),
 (527, 0.20134681656420733),
 (616, 0.20134681656420733),
 (621, 0.20134681656420733),
 (624, 0.20134681656420733),
 (1027, 0.20134681656420733),
 (1158, 0.20134681656420733),
 (1328, 0.20134681656420733),
 (1668, 0.20134681656420733),
 (1884, 0.20134681656420733),
 (1927, 0.20134681656420733),
 (2445, 0.20134681656420733),
 (2581, 0.20134681656420733),
 (2854, 0.20134681656420733),
 (3103, 0.20134681656420733),
 (3996, 0.20134681656420733),
 (4632, 0.20134681656420733),
 (342, 0.20093209559543665),
 (1965, 0.20084532931834773),
 (52, 0.2005648842255601),
 (111, 0.2005648842255601),
 (937, 0.2005648842255601),
 (1831, 0.2005648842255601),
 (2556, 0.2005648842255601),
 (3874, 0.2005648842255601),
 (295, 0.20032733246124987),
 (3754, 0.20032733246124987),
 (4042, 0.20032733246124987),
 (4046, 0.20032733246124987),
 (4468, 0.20032733246124987),
 (150, 0.19970314158618924),
 (465, 0.19936305570722498),
 (598, 0.19936305570722498),
 (739, 0.19936305570722498),
 (774, 0.19936305570722498),
 (892, 0.19936305570722498),
 (1005, 0.19936305570722498),
 (1104, 0.19936305570722498),
 (1183, 0.19936305570722498),
 (1246, 0.19936305570722498),
 (1409, 0.19936305570722498),
 (1464, 0.19936305570722498),
 (1495, 0.19936305570722498),
 (1521, 0.19936305570722498),
 (1528, 0.19936305570722498),
 (1575, 0.19936305570722498),
 (1577, 0.19936305570722498),
 (1580, 0.19936305570722498),
 (1630, 0.19936305570722498),
 (1665, 0.19936305570722498),
 (1710, 0.19936305570722498),
 (1773, 0.19936305570722498),
 (1845, 0.19936305570722498),
 (1862, 0.19936305570722498),
 (1986, 0.19936305570722498),
 (2011, 0.19936305570722498),
 (2278, 0.19936305570722498),
 (2390, 0.19936305570722498),
 (2407, 0.19936305570722498),
 (2530, 0.19936305570722498),
 (2568, 0.19936305570722498),
 (2677, 0.19936305570722498),
 (2708, 0.19936305570722498),
 (2778, 0.19936305570722498),
 (2780, 0.19936305570722498),
 (2796, 0.19936305570722498),
 (2891, 0.19936305570722498),
 (2925, 0.19936305570722498),
 (2975, 0.19936305570722498),
 (3049, 0.19936305570722498),
 (3154, 0.19936305570722498),
 (3159, 0.19936305570722498),
 (3178, 0.19936305570722498),
 (3281, 0.19936305570722498),
 (3288, 0.19936305570722498),
 (3375, 0.19936305570722498),
 (3397, 0.19936305570722498),
 (3465, 0.19936305570722498),
 (3477, 0.19936305570722498),
 (3627, 0.19936305570722498),
 (3718, 0.19936305570722498),
 (3721, 0.19936305570722498),
 (3774, 0.19936305570722498),
 (3829, 0.19936305570722498),
 (3830, 0.19936305570722498),
 (3870, 0.19936305570722498),
 (3927, 0.19936305570722498),
 (3949, 0.19936305570722498),
 (3957, 0.19936305570722498),
 (3988, 0.19936305570722498),
 (4041, 0.19936305570722498),
 (4147, 0.19936305570722498),
 (4174, 0.19936305570722498),
 (4186, 0.19936305570722498),
 (4365, 0.19936305570722498),
 (4507, 0.19936305570722498),
 (4542, 0.19936305570722498),
 (4563, 0.19936305570722498),
 (4568, 0.19936305570722498),
 (4643, 0.19936305570722498),
 (4723, 0.19936305570722498),
 (4736, 0.19936305570722498),
 (1344, 0.19827263883864388),
 (2241, 0.19827263883864388),
 (4268, 0.19827263883864388),
 (149, 0.1979131233319198),
 (422, 0.1973593560521103),
 (449, 0.1973593560521103),
 (2496, 0.1973593560521103),
 (2768, 0.1973593560521103),
 (3008, 0.1973593560521103),
 (4112, 0.1973593560521103),
 (308, 0.19727878476642874),
 (325, 0.19727878476642874),
 (362, 0.19727878476642874),
 (483, 0.19727878476642874),
 (546, 0.19727878476642874),
 (791, 0.19727878476642874),
 (916, 0.19727878476642874),
 (1403, 0.19727878476642874),
 (1447, 0.19727878476642874),
 (1881, 0.19727878476642874),
 (1950, 0.19727878476642874),
 (2113, 0.19727878476642874),
 (2457, 0.19727878476642874),
 (2504, 0.19727878476642874),
 (2623, 0.19727878476642874),
 (2743, 0.19727878476642874),
 (3240, 0.19727878476642874),
 (3488, 0.19727878476642874),
 (3886, 0.19727878476642874),
 (3901, 0.19727878476642874),
 (4331, 0.19727878476642874),
 (4486, 0.19727878476642874),
 (95, 0.19605723255834875),
 (108, 0.19605723255834875),
 (2148, 0.19605723255834875),
 (661, 0.195976600339204),
 (21, 0.19451950503185494),
 (87, 0.19451950503185494),
 (775, 0.19451950503185494),
 (787, 0.19451950503185494),
 (1161, 0.19451950503185494),
 (1616, 0.19451950503185494),
 (3131, 0.19451950503185494),
 (2740, 0.19427980129935546),
 (1273, 0.19391446622548786),
 (62, 0.19374606457303215),
 (218, 0.19374606457303215),
 (719, 0.19374606457303215),
 (780, 0.19374606457303215),
 (966, 0.19374606457303215),
 (1000, 0.19374606457303215),
 (1139, 0.19374606457303215),
 (1323, 0.19374606457303215),
 (1618, 0.19374606457303215),
 (1670, 0.19374606457303215),
 (1673, 0.19374606457303215),
 (1761, 0.19374606457303215),
 (1778, 0.19374606457303215),
 (1907, 0.19374606457303215),
 (1923, 0.19374606457303215),
 (2000, 0.19374606457303215),
 (2034, 0.19374606457303215),
 (2312, 0.19374606457303215),
 (2315, 0.19374606457303215),
 (2323, 0.19374606457303215),
 (2590, 0.19374606457303215),
 (2610, 0.19374606457303215),
 (2647, 0.19374606457303215),
 (2724, 0.19374606457303215),
 (2896, 0.19374606457303215),
 (3019, 0.19374606457303215),
 (3202, 0.19374606457303215),
 (3425, 0.19374606457303215),
 (3531, 0.19374606457303215),
 (3833, 0.19374606457303215),
 (3854, 0.19374606457303215),
 (3966, 0.19374606457303215),
 (4026, 0.19374606457303215),
 (4076, 0.19374606457303215),
 (4165, 0.19374606457303215),
 (4183, 0.19374606457303215),
 (4261, 0.19374606457303215),
 (4266, 0.19374606457303215),
 (4375, 0.19374606457303215),
 (4407, 0.19374606457303215),
 (4415, 0.19374606457303215),
 (4473, 0.19374606457303215),
 (4515, 0.19374606457303215),
 (4601, 0.19374606457303215),
 (4637, 0.19374606457303215),
 (4646, 0.19374606457303215),
 (4701, 0.19374606457303215),
 (4708, 0.19374606457303215),
 (4718, 0.19374606457303215),
 (4738, 0.19374606457303215),
 (4763, 0.19374606457303215),
 (4784, 0.19374606457303215),
 (94, 0.1934477640657483),
 (356, 0.1934477640657483),
 (1068, 0.1934477640657483),
 (1156, 0.1934477640657483),
 (1438, 0.1934477640657483),
 (1553, 0.1934477640657483),
 (1606, 0.1934477640657483),
 (1707, 0.1934477640657483),
 (2053, 0.1934477640657483),
 (2308, 0.1934477640657483),
 (2309, 0.1934477640657483),
 (2378, 0.1934477640657483),
 (2882, 0.1934477640657483),
 (2890, 0.1934477640657483),
 (3891, 0.1934477640657483),
 (4622, 0.1934477640657483),
 (2873, 0.1926263261127128),
 (3630, 0.1926263261127128),
 (900, 0.19184045508446734),
 (680, 0.1917988185229168),
 (701, 0.1917988185229168),
 (1031, 0.1917988185229168),
 (3084, 0.1917988185229168),

In [145]:
recommend('Avatar')

The Helix... Loaded
Falcon Rising
Titan A.E.
Amidst the Devil's Wings
Code 46

In [148]:
import pickle

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle
Note: you may need to restart the kernel to use updated packages.

In [149]:
pickle.dump(new, open('model/movie_list.pkl', 'wb'))

In [150]:
pickle.dump(similarity, open('model/similarity.pkl', 'wb'))